@media screen and (max-width:767px) {
    header {
        transition: margin-left .5s;
    }
    .diag:before{
        top: 0;
        transform: skewY(-1.5deg);
        transform-origin: 0 0;
        border-top: 20px solid $primeRed;
    }
    .navbtn button.icon {
        float: left;
        border: none;
        background: transparent;
        text-decoration: none;
        display: inline-block;
        outline: none;
    }
    .navigation {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 15px;
        display: block;
        text-align: center;
    }
    .navigation li {
        padding: 0;
    }
    .navigation li:hover {
        border: none;
    }
    .navigation li a {
        padding: 8px 32px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
        float: left;
        letter-spacing: 0;
    }
    .navigation li a:hover {
        color: #f1f1f1;
    }
    .component h1 {
        font-size: 2.4rem;
        line-height: 35px;
    }
    .component h3 {
        font-size: 1.5em;
    }
    #egomobileload {
        background-color: #000000;
        background-image: url(../img/egoload2.jpg);
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
        visibility: visible;
        position: absolute;
        height: 100vh;
        width: 100%;
        z-index: 2000;
    }
    #egomobileload  .mobileLoadContainer {
        z-index: 1000;
        position: absolute;
        top: 50%;
        margin-top: -66px;
        width: 100%;
        text-align: center;
        color: #fbf9f2;
    }
    #about-header-img {
        height: 40vh;
        background-image: url(../img/djset.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}
