$primeRed: #a20500;
$darkRed: #600C0D;
$offWhite: #fbf9f2;
$ebony: #131313;
$lightGrey: #777777;
$border: 5px solid $primeRed;
@mixin transform($deg, $transX, $transY) {
  -webkit-transform: rotate($deg) translate($transX, $transY);
  -moz-transform: rotate($deg) translate($transX, $transY);
  -ms-transform: rotate($deg) translate($transX, $transY);
  -o-transform: rotate($deg) translate($transX, $transY);
  transform: rotate($deg) translate($transX, $transY)
}
@mixin blur($px) {
  -webkit-filter: blur($px);
  -moz-filter: blur($px);
  -ms-filter: blur($px);
  -o-filter: blur($px);
  filter: blur($px);
}
@import "bootstrap";
body {
  font-family: 'Oswald', sans-serif !important;
  line-height: 1.6 !important;
  background-color: $ebony;
  overflow-x: hidden;
}

/* navigation */
nav {
  background: $offWhite;
  border-bottom: 2px solid $darkRed;
}
.nav-fixed {
  position: fixed;
  margin: 0;
  padding: 0;
  width: 100%;
  z-index: 1030;
}
.navigation {
  background: $offWhite;
  display: flex;
  height: 90px;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;

  li {
    position: relative;
    display: inline;
    vertical-align: middle;
    padding: 12px 15px;
    border-bottom-color: transparent;
    transition: border-bottom-color .5s ease-in;

    &:hover {
      border-bottom: 5px solid $primeRed;
    }

    a {
      color: $lightGrey;
      display: inline-block;
      text-decoration: none;
      font-size: 30px;
      letter-spacing: 2px;
      transition: color .5s ease-in;

      &:hover {
        color: $primeRed;
      }
    }

    &.egoBrand:hover{
      border-bottom: 5px solid $primeRed;
    }

  }

  button.icon {
    display: none;
  }
}
.navCollapse {
  display: inline-block;
  cursor: pointer;
}
.apad {
  padding: 8px 0;
}

.bar1, .bar2, .bar3 {
  height: 5px;
  width: 35px;
  background-color: $primeRed;
  margin: 6px 0;
  transition: 0.4s;
}
.change .bar1 {
  @include transform(-45deg, -9px, 6px);
}
.change .bar2 {
  opacity: 0;
}
.change .bar3 {
  @include transform(45deg, -8px, -8px);
}

/* Video */
.homepage-hero-module {
  border-right: none;
  border-left: none;
  position: relative;
}
.no-video .video-container video, .touch .video-container video {
  display: none;
}
.no-video .video-container .poster, .touch .video-container .poster {
  display: block !important;
}
.video-container {
  position: relative;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: $ebony;

  .logo-container {
    position: absolute;
    top: 35%;
    width: 100%;
    text-align: center;
    color: $offWhite;
    z-index: 1000;
  }

  video {
    position: absolute;
    bottom: 0;
    z-index: 0;

    &.fillWidth {
      width: 100%;
      height: auto;
    }
  }
}

/* SECTIONS */
.mediaComponent {
  position: relative;
}
.component {
  padding: 75px 0;
  position: relative;
  color: $lightGrey;
  background: $ebony;

  &:not(:only-of-type) {
    background: $offWhite;
  }
  .zoomItem {
    margin:15px 0;
    overflow: hidden;
    border: $border;

    img {
      transition: transform .75s;
      &:hover {
        transform: scale(1.1);
      }
    }
  }

  p {
    margin: 30px 0;
  }

  h1 {
    font-size: 3.5rem;
    line-height: 50px;
  }
}

// Angled Divs
// abl = Angle Bottom Left
// atl = Angle Top Left
// atbr = Angle Top & Bottom Left

.abl, .atl, .atbr, .diag{
  z-index: 1;
}
%beforeAfters {
  content: '';
  background: inherit;
  position: absolute;
  display: block;
  height: 50%;
  left: 0;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
}
.abl:after, .atl:after, .atbr:before, .atbr:after, .diag:before {
  @extend %beforeAfters;
}
.diag:before{
  top: 0;
  transform: skewY(-1.5deg);
  transform-origin: 0 0;
  border-top: 50px solid $primeRed;
}
.abl, .atbr{
  &:after{
    bottom: 0;
    transform: skewY(-1.5deg);
    transform-origin: 100%;
    border-bottom: $border;
  }
}
.atl:after, .atbr:before{
  top: 0;
  transform: skewY(-1.5deg);
  transform-origin: 0 0;
  border-top: $border;
}
.vidReplacePic {
  height: 70vh;
  background: {
    image: url(../img/rnb4.jpg);
    position: center;
    repeat: no-repeat;
  }
}

/* PARALLAX SCROLLING */
.event1, .event2,
.about1, .about2,
.media1, .media2, .media3, .media4, .media5, .media6, .media7, .media8,
footer {
  position: relative;
  background: {
    attachment: fixed;
    position: center top;
    repeat: no-repeat;
    size: cover;
  }
}
.event1, .event2, .about1, .about2 {
  @include blur(8px);
  transition: filter .2s, transform .75s;

  &:hover {
    transform: scale(1.1);
    @include blur(0px);
  }
}
.event1 {
  background-image: url(../img/rnb9.jpg);
  height: 75vh;
}
.event2 {
  background-image: url(../img/rnb4.jpg);
  height: 75vh;
}
.about1 {
  background-image: url(../img/rnbcanvas.jpg);
  height: 75vh;
}
.about2 {
  background-image: url(../img/2girls.jpg);
  height: 75vh;
}
.media1, .media2, .media3, .media4, .media5, .media6, .media7, .media8 {
  height: 100vh;
}
.media1 {
  background-image: url(../img/rnb9.jpg);
}
.media2 {
  background-image: url(../img/rnb10.jpg);
}
.media3 {
  background-image: url(../img/rnb15.jpg);
}
.media4 {
  background-image: url(../img/rnb8.jpg);
}
.media5 {
  background-image: url(../img/rnb5.jpg);
}
.media6 {
  background-image: url(../img/rnb6.jpg);
}
.media7 {
  background-image: url(../img/rnb7.jpg);
}
.media8{
  background-image: url(../img/rnb12.jpg);
}
/* FOOTER */
footer {
  background-color: $ebony;
  height: 50px;
  text-align: center;
  section p {
    position: absolute;
    left: 0;
    top: 25%;
    width: 100%;
    text-align: center;
    color: $offWhite;
  }

  .copyright {
    margin: 15px 0;
    color: $lightGrey;

    a {
      color: $primeRed;
    }
  }

  .connectWithUs {
    margin: 15px 0;

    .fa {
      color: $primeRed;
      font-size: 1.5em !important;
    }

    nav {
      padding-bottom: 25px;
      background: $ebony;
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
          display: inline;
          padding: 8px;

          a {
            color: $lightGrey;
            text-decoration: none;

            &:hover {
              color: $primeRed;
            }
          }
        }
      }
    }
  }
}

/* BACKGROUND IMAGE SLICER */
.mySlides {
  display: none;
}
.bkgdSlide {
  height: 40vh;
  background: {
    image: url(../img/rnb4.jpg);
    position: center;
    size: cover;
    repeat: no-repeat;
  }
}
.slideshow-container {
  position: relative;
  margin: auto;
}
// Fading animation
.fader {
  -webkit-animation-name: fade;
  -webkit-animation-duration: .5s;
  animation-name: fade;
  animation-duration: .5s;
}
@-webkit-keyframes fade {
  from {
    opacity: .9
  }
  to {
    opacity: 1
  }
}
@keyframes fade {
  from {
    opacity: .9
  }
  to {
    opacity: 1
  }
}

/* MISCELLANEOUS */
#egomobileload {
  visibility: hidden;
}
img .img-center {
  margin: 0 auto !important;
}
/* ABOUT PAGE */
.aboutLink {
  margin-left: 5px;
  padding: 2px 10px;
  border: $border;
  color: $lightGrey;
  transition: color .5s;
  text-decoration: none;

  &:hover {
    color: $primeRed;
    text-decoration: none;
  }
}
#about-header-img {
  height: 70vh;
  background: {
    image: url(../img/djset.jpg);
    position: center;
    size: cover;
    repeat: no-repeat;
  }
}
@import "767";
